* {
  font-family: Lato;
}
.is-active {
  font-size: 17px;
  font-weight: bold;
  color: #ff96ad;
}
.container {
  margin-bottom: 10%;
}
.navbar {
  display: flex;
  justify-content: space-around;
}
.logo {
  text-align: center;
  color: #022e57;
}
body {
  background-color: #fff5fd;
}

.card .card-image img {
  border: 1px solid #ddd;
  padding: 10%;
  width: 150px;
}
