* {
  font-family: Lato;
}
.is-active {
  font-size: 17px;
  font-weight: bold;
}
.heading {
  display: flex;
  justify-content: space-between;
  padding: 0 3%;
}
.container {
  margin-bottom: 10%;
}
.navbar {
  display: flex;
  justify-content: space-around;
}
.search {
  /* padding-bottom:30%; */
}
.logo {
  text-align: center;
}
